// /*The first task*/
.logo-animation:hover {
  animation: changelogo 4s 1s ease;
}

@keyframes changelogo {
  0% {
    transform: rotate(0deg) scale(1);
  }
  30%,
  40% {
    transform: rotate(180deg) scale(-1.5, 1.3);
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
}

.section-headline {
  transition: transform 3s ease-in;

  .app-section__button--read-more:hover {
    transform: rotate(10deg);
    transform-origin: left bottom;
  }
}

.learn-more {
  .app-section__button--learn-more:hover {
    background-color: #fff;
    color: #55c2d8;
    transition: all 1s linear;
  }
}
// /*The second task */

@keyframes changebackground {
  0% {
    background-image: url("../assets/Union_circles.png"),
      url("../assets/Desktop_Backgrounds.png");
    background-position: bottom, center;
    background-origin: inherit;
  }

  50% {
    background-image: url("../assets/Union_circles.png"),
      url("../assets/Desktop_Backgrounds.png");
    background-position: center, center;
  }

  100% {
    background-image: url("../assets/Union_circles.png"),
      url("../assets/shining.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: bottom, right, center;
  }
}

@keyframes smallbackground {
  0% {
    background-image: url("../assets/Desktop_Backgrounds.png");
    background-position: fixed;
    background-origin: right;
  }

  50% {
    background-image: url("../assets/Union_circles.png"),
      url("../assets/Desktop_Backgrounds.png");
    background-position: left, fixed;
    transform: translateY(100px, 0);
    background-origin: center;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("../assets/Union_circles.png"),
      url("../assets/shining.png"), url("../assets/Desktop_Backgrounds.png");
    background-position: center, 100% center, fixed;
    transform: scale(0.5, 0.5 1);
    transform: translateY(100px, 200px, 0);
    transform: translateX(100px, 200px, 0);
    background-origin: center, right, center;
  }
}
